$white: #fff;
$primary: #ed3237;

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 500;

$navbar-nav-link-padding-x: 1.25rem;
$navbar-light-active-color: $white;

$breadcrumb-divider: quote(">");